{% extends "base.html" %}



{% block title %}Processing{% endblock %}

{% block content %}
<body class = "centered_body">
  <div class="container">
    <div class="box">
      <h2 class="title is-4 has-text-centered">🔄 Processing your lecture...</h2>
      <p class="subtitle has-text-centered">This may take a few minutes. Please do not refresh the page.</p>
      
      <p id="progress-message">Waiting to start...</p>
      <progress class="progress is-info" max="100">30%</progress>
    </div>
  </div>
  <script>
        // Function to call the processing route after the page loads
        function startProcessing() {
            fetch('/start_processing', { method: 'POST' })
                .then(response => response.json())
                .catch(error => console.error('Error:', error));
        }

        // Call the processing route as soon as the page loads
        window.onload = startProcessing;
    </script>
</body>
{% endblock %}

